@model List<Job>
<body>
    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">Opportunity</span>
            <span class="site-heading-lower">Job Listing</span>
        </h1>
    </header>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-upper">Looking for Opportunity?</span>
                            <span class="section-heading-lower">Join our team!</span>
                        </h2>
                        <h1>List of current openings</h1>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Job Number</th>
                                    <th>Position</th>
                                    <th>StoreId</th>
                                    <th>Date Opened</th>
                                    <th>Closing Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var listing in Model)
                                {
                                    <tr>
                                        <td>@listing.JobId</td>
                                        <td>@listing.PositionId</td>
                                        <td>@listing.StoreId</td>
                                        <td>@listing.OpenDate</td>
                                        <td>@listing.CloseDate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <p class="address mb-5">
                            <em>
                                <strong>1116 Orchard Street</strong>
                                <br />
                                Golden Valley, Minnesota
                            </em>
                        </p>
                        <p class="mb-0">
                            <small>
                                <em>Call Anytime</em>
                            </small>
                            <br />
                            (317) 585-8468
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/img/about.jpg" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper"></span>
                                <span class="section-heading-lower">At Quick Stop customers are #1</span>
                            </h2>
                            <p>
                                At Quick Stop, we have talented individuals working hard to
                                create a truly enjoyable and convenient shopping experience for our
                                customers.
                            </p>
                            <p class="mb-0">
                                We strive to make every customer a repeat customer going the extra mile in
                                service and courtesy to ensure when they need something quick and convenient,
                                Quick Stop is their first choice.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>